{{> navbar }}

<form action="/details/:showId" , method="GET"></form>

{{!-- Main info --}}
<div class='container my-5'>
  <div class='row py-4'>

    <div class='col-lg-6 mb-4 my-lg-auto'>
      <h1 class='text-bright font-weight-bold mb-3'>{{podcasts.collectionName}}</h1>

      <h6 class='mb-4' font-weight-light> {{podcasts.genres}}</h6>
      <h6 class='mb-4'>Publisher: {{podcasts.artistName}}
      </h6>
      <h6 class='mb-4'>Number of episodes: {{podcasts.trackCount}}</h6>
      <form action="/itunes/{{podcasts.collectionId}}/addtofavorite" method="post">
        <button class="btn btn-outline-secondary btn-lg">Add to favorites</button>
      </form>
    </div>

    <div class='col-lg-6'>
      <img class="w-100 podcastImg" src="{{podcasts.artworkUrl600}}">
    </div>

  </div>
</div>

<hr class="hr-light m-4 wow fadeInDown ">

{{!-- Latest Episodes --}}
<div class='col-12 text-center mt-5'>
  <hr class="hr-light my-4 wow fadeInDown">
  <h1 class='pt-4'>Latest Episodes</h1>
</div>

{{#each episodes}}
<div class='container my-5'>
  <div class='row py-4'>

    <div class='col-lg-4'>
      <img class="w-100 podcastImg" src="{{this.artworkUrl600}}">
    </div>

    <div class='col-lg-8 mb-4 my-lg-auto'>
      <h4 class='text-bright font-weight-bold mb-3'>{{this.trackName}}</h4>

      <p class='mb-4'>Release date: {{this.releaseDate}} </p>
      <p class='mb-4' font-weight-light> {{this.description}}</p>
      <p><a class="btn btn-outline-secondary btn-sm" href="{{this.trackViewUrl}}" target="_blank">Play on
          iTunes</a></p>
      <form action="/itunes/details/{{this.collectionId}}/{{this.trackId}}/addtoplaylist" method="POST">
        <input class="btn btn-outline-secondary btn-sm" type="submit" value="Bookmark this episode">
      </form>
    </div>
  </div>
</div>
{{/each}}

<script src="/javascripts/script.js"></script>